$phone: "(max-width: 450px)";
$tablet: "(max-width: 750px)";
$tablet-min: "(max-width: 500px)";
$bigScreen: "(max-width: 900px)";
$headerBreakPoint: "(max-width: 650px)";
$desktop: "(max-width: 1124px)";


//@media #{$desktop} {
//  width: 70%;
//  margin-top: 10%;
//}
//@media #{$tablet} {
//  width: 70%;
//  margin-top: 10%;
//}
//@media #{$tablet-min} {
//  width: 70%;
//  margin-top: 10%;
//}
//@media #{$phone} {
//  width: 70%;
//  margin-top: 10%;
//}
//@media #{$headerBreakPoint} {
//  width: 70%;
//  margin-top: 10%;
//}
//@media #{$bigScreen} {
//  width: 70%;
//  margin-top: 10%;
//}
